<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SystemTitle" value="宁夏灵武白芨滩自然保护区地理信息管理系统"/>
    <add key="wksPath" value="D:\Project\SVN-ZDS\宁夏灵武白芨滩自然保护区地理信息管理系统\Data\V3\白芨滩保护区.smwu"/>
    <add key="mapName" value="map"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>